
.Count {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 140rem;
  .btn {
    width: 40rem;
    height: 40rem;
    border-radius: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
  }
}